<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>海南微软创新中心实习生</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="wrapper">
	<div class="navb">
		<ul class="nav">
		<li><a href="#HIP" style="color: white;" class="lih">HIP</a></li>
			<li><a href="__MODULE__/Personal" class="lih">个人风采</a></li>
			<li><a href="__MODULE__/Experience" style="color: white;" class="lih">岗位经验</a></li>
			<li><a href="__MODULE__/infomalessay/jottings" style="color: white;" class="lih">随笔</a></li>
			<li></li>
			<li></li>
			<li></li>
			<li class='navlogin'><a href="###" class="lih" style="text-align: center;" id="login">登陆/注册</a></li>
		</ul>
	</div>
	<div id="logo"></div>
	<div id="INTERN"></div>
	<!-- <div id="button">
		<img class="turntop" src="__IMG__/turntop.png">
		<img class="turnbottom" src="__IMG__/turnbottom.png">
	</div> -->
	<div id="homepic" class="home">
			<div id="mask" style="
			height: 100%;
			width: 100%;
			background: black;
			opacity: 0.1;
			"></div>
	</div>
	<div class="wrapper_Content"  id="HIP">
		<div class="bottomContent">
			<div class="bottomContent_Left">
				<p class="bottomContent_Left_title">WHO WE ARE</p>
				<p class="bottomContent_Left_content">
					Hi! Partner，我们是一群按照自己喜欢的方式去生活的人<br/>
					我们对生活满怀期待，也愿意拼个遍体鳞伤<br/>
					平凡不该用来形容你的青春<br/>
					如果你恰好也是这样的人<br/>
					Join us! Now!<br/>
					在这里<br/>
					我们畅所欲言<br/>
					发现更多有趣的灵魂<br/>
					从中汲取所需的精神粮食<br/>
					铸就更好的自己
				</p>
				<a class="bottomContent_Left_button" href="__MODULE__/personal">了解更多</a>
			</div>
			<img src="__IMG__/bottompic.jpeg" alt="" class="bottomContent_Right">
		</div>
	</div>
	<div class="foot">
		<p>Hi,partner</p>
		<p>powered by HIP</p>
		<p>Hi,partner © 2017 . PRIVACY POLICY</p>
	</div>
</div>

<div id="screen"></div>
<div class="main_box">
	<div class="login">
		<img src="__IMG__/Hi,Partner.png" class="hip_logo">
		<div class="login_password">
			<div class="user_box">
				<div class="img_box">
			    	<img src="__IMG__/user.png" class="user_img">
					<span class="line1"></span>
			    </div>	
				<input type="text">
			</div>
			<div class="pw_box">
				<div class="img_box">
					<img src="__IMG__/pw.png" class="pw_img">
					<span class="line2"></span>
				</div>
				<input type="password">
			</div>	
			<button class='loginbutton'>登录</button>
		</div>
	</div>
	<div class="newaccount">
		<a href="####" style="line-height:70px">注册新账户</a>
	</div>
</div>
<script src="__JS__/index.js"></script>
</body>
</html>